:root {
    --primary-color: rgb(255, 255, 134);
    --secondary-color: #faa661;
    --accent1-color: #111c20;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* LIMITA LARGURA DAS PRINCIPAIS SEÇÕES */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 16px;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero article img {
    float: right;
    width: 125px;
}