:root {
    --heading-background-color: whiteblue;
    --heading-text-color: #6D6FA6;
    --heading-font: 'montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    border: #333;
}

h1{
   font-weight: 100;
   font-style: normal;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}