/*:root {}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    background-color: darkcyan;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkcyan;
}

img { 
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
  position: relative;
    width: 320px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 23%;
}

main img {
    width: 120px;
    height: auto;
    float: right;
    margin-left: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*  Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: rgb(159, 219, 219);
  color: #000;
}

main ul {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: rgb(159, 219, 219);
  color: #000;
}