/*:root {}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

nav {
  background-color: darkcyan;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkcyan;
  padding-left: 1rem;
}

img { 
  width: 150px;
  height: auto;
  border: 1px solid darkcyan;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

main {
  max-width: 840px;
}

main img {
  width: 140px;
  height: auto;
  border: 1px solid darkcyan;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 23%;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/*  Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: rgb(159, 219, 219);
  color: #000;
}

.indent {
  padding-left: 3rem;
}